body{
  background-color: #FAFAF6;
}

.container {
  margin: 20px auto;
  width: 500px;
  padding: 30px;
  background-color: #E6E5E1;
  color:#D63737;
  position: relative;
}

h1 {
  margin-top: 0;
}

a {
  text-decoration: none;
}

/*h2{
  padding:1em;
  font-size: 40px;
  text-align: center;
  color:#A18E5C;
  background-color: #2B2B2B;
  width:50%;
  height:3em;
}*/

hr {
  height: 1px;
  border: none;
  background: #D63737;
}

nav {
  width: 100%;
  text-align: right;
  background-color: #2B2B2B;
}

nav .top_bar .brand {
  float: left;
}

nav .top_bar .brand a {
  text-decoration: none;
  color: #D63737;
}

nav .top_bar {
  width: 540px;
  margin: 0 auto;
  overflow: hidden;
}

nav ul {
  display: block;
  text-align: right;
  margin:0;
  list-style-type: none;
  overflow: hidden;
  float: right;
  margin-right: -20px;
}

nav li {
  float: left;
  line-height: 25px;
}

nav li a {
  color: #D63737;
  padding: 20px;
  display: block;
}

nav li a:hover {
  color:#A28F5E;
}

label{

}

input[type=text]{
  padding:10px;
  margin:15px 15px 15px 0;
}

form.session {

}

form.session label {
  width:80px;
  display:inline-block;
}

form.session input[type=text], form.session input[type=password], form.session input[type=email] {
  padding:8px;
  margin:15px;
  width: 200px;
}

input[name="survey[title]"] {
  width: 212px;
}

.button {
  background: #D63737;
  border: none;
  padding: 10px 20px;
  color: #fff;
  margin-top: 20px;
}

.button:hover {
  background: #444;
}

.errors {
  color: red;
}

.survey {
  padding: 20px;
  margin: 0 0 10px 0;
  overflow: hidden;
}

.survey i {
  display: none;
}

.survey:hover i  {
  display: inline;
}

.survey h1 {
  float: left;
}

.survey h1 a {
  color: #A18E5C;
  text-decoration: none;
}

.survey a.button {
  float: right;
  margin-top: 0;
  text-decoration: none;
}

.button_survey {
  text-decoration: none;
  color:#A18E5C;
  background-color: rgb(236, 232, 218);
  padding:10px;
  border: 1px solid #A18E5C;
  margin-top: 10px;
  display: inline-block;
  top: 40px;
  right: 0px;
}


a.hide_options {
  display: none;
}

.question:hover a.hide_options {
  display: inline;
}

a#add_question.button_survey{
}

a.add_option.button_survey {
  top: 5px;
}

.button_survey:hover{
  text-decoration: none;
  background-color:#E3DECC;
  color:#A18E5C;
}

#survey_form {
  position: relative;
}

#survey_form p {
  font-weight: bold;
  font-size: 24px;
}

div.questions_wrapper, div.options_wrapper {
  position:relative;
}

.question > input {
  width: 320px;
}

.chart-container {
  position: relative;
  margin: 10px 0 10px 0;
}
