<div id='dashboard'>

  <% @surveys.each do |survey| %>
    <div class="survey">
      <h1><a href="/surveys/<%= survey.id %>/show"><%= survey.title %></a></h1>
      <a href="/<%= survey.token %>" class="button">Take Survey</a>
    </div>
  <% end %>


</div>
