<div id='dashboard'>

  <% @surveys.each do |survey| %>
    <p><a href="/surveys/<%= survey.id %>/show"><%= survey.title %></a></p>
    <p><a href="/<%= survey.token %>">Take Survey</a></p>
  <% end %>


</div>
