<div class='options_form'>
  <form action="/surveys/questions/options/create" method='post'>
    <input type='hidden' name='answer[question_id]' class='question_id'>
    <input type="text" name='answer[choice]' placeholder="Add an Option">
    <br>
  </form>
</div>