<div class="question">
  <input type="text" name='survey[questions_attributes][][question]' placeholder="Add a Question">

  <div class="options_wrapper">
  </div>

  <a href="#" id='add_option'>Add Option</a><br><br>
</div>
