<div class='question_form'>
  <h3></h3>
  <form action="/surveys/questions/create" method='post'>
    <input class="survey_id" type="hidden" name="question[survey_id]">
    <input type="text" name='question[question]' placeholder="Add a Question">
    
    <div class="options_wrapper">

    </div>
    
    <a href="#" id='add_option'>Add Option</a><br><br>

  </form>
</div>