<div class="question">
  <input type="text" name='survey[questions_attributes][][question]' placeholder="Is that a fact?">

  <div class="options_wrapper">
  </div>

  <a href="#" id='add_option' class='button_survey'>+ Add option</a><br><br>
</div>
