<div class="question">
  <input type="text" name='survey[questions_attributes][][question]' placeholder="Is that a fact?">
  <a href="#" class="hide_options button_survey"><i class='icon-arrow-up'></i>Hide Details</a>

  <div class="options_wrapper">
  </div>

  <div class="question_options">
	  <a href="#" class='add_option button_survey'><i class="icon-plus"></i> Add option</a>
	  <a href="#" class='remove_question button_survey'><i class="icon-remove"></i> Remove Question</a>
  </div>
  <br><br>
</div>
