<div id='survey_form'>
  
  <div class='survey_name_wrapper'>
    <form action="/surveys/create" method='post'>
      <input type="text" name='survey[title]' placeholder="Survey Name"><br>
    </form>
  </div> 

  <div class="questions_wrapper">
  </div>

  <a href="#" id='add_question'>Add Question</a><br><br>

  <div class="submit_survey">
    <button id='create_survey'>Create! :-)</button>
  </div>

</div>