<form id="survey_form" action="/surveys/create" method='post'>
  <p>Enter your survey title:</p>
  <input type="text" name='survey[title]' placeholder="David Bowie"><br>
  <a href="#" id='add_question' class='button_survey'>+ Add questions to the survey</a><br><br>

  <hr/>

  <div class="questions_wrapper"></div>
  
  <input type="submit" value="Create Survey" class='button'>    
</form>

