

<form id="survey_form" action="/surveys/create" method='post'>
  <input type="text" name='survey[title]' placeholder="Survey Name"><br>
  <a href="#" id='add_question'>Add Question</a><br><br>

  <div class="questions_wrapper"></div>
  
  <input type="submit" value="Create Survey">    
</form>

