<h2><%= @survey.title %> - Survey Results</h2>

<script>
var graphData = <%= @graph_data %>;
$(document).ready(function() {
  var chartTemplate = '<div class="chart-container" style="width: 500px"></div>'
  $.each(graphData, function(k, data) {
    var $chartTemplate = $(chartTemplate);
    $chartTemplate.highcharts({
      chart: {
        type: 'column'
      },
      title: {
        text: data.title
      },
      xAxis: {
        categories: data.choices
      },
      yAxis: {
        title: {
          text: 'count'
        }
      },
      series: [{
        data: data.data
      }]


    })
    $('.container').append($chartTemplate);
  });


});
</script>